body {
  font-family: 'Lato';
}
.bg{
  position: fixed;
  z-index: -1;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../img/background.jpg);
  background-size: cover;
  opacity: .3;
  /* filter: blur(4px); */
}

p{
  font-size: 26px;
}

h2{
  font-size: 46px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.mpg-blue {
  background-color: #32c9ff !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: 66px;
  background: #32c9ff;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 66px;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.bg-primary {
  background-color: #ee0979 !important;
}

.btn-primary {
  background-color: #ee0979;
  border-color: #ee0979;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #bd0760 !important;
  border-color: #bd0760 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
  background-color: #ff6a00;
  border-color: #ff6a00;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}



.mpg-become-footerBar{
  text-align: center;
  display: block;
  width: 100%;
  background: url("../img/footer-banner.png");
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  background-size: contain;
  padding: 120px 0;
  font-size: 50px;
}

.mpg-become-footerBar:hover{
    background: url("../img/footer-banner-enter.png");
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-size: contain;
}